@model Parliament.Interact.Web.Models.IssueViewModel

<div class="parl-action-items col-xs-12">
    @foreach (var action in Model.ActionsItems)
    {
        <div class="parl-action-item">
            <h3>@action.Title</h3>
            <div class="parl-action-time">
                <img src="~/Content/img/stopwatch-28x28.svg" class="stopwatch"/>@action.Eta
            </div>
            <div class="parl-action-basic-content">
                @Html.Raw(action.BasicContent)
            </div>
            <div class="parl-action-content">
                @Html.Partial(action.ActionView, action.ActionModel)
            </div>
        </div>
    }

    <!--Hard coded for now - should both be an action-->
    <div class="parl-action-item">
        <h3>Volunteer as a school governor</h3>
        <div class="parl-action-time">
            <img src="~/Content/img/stopwatch-28x28.svg" class="stopwatch" />Over 1hr
        </div>
        <div class="parl-action-basic-content">
            <p>Could you help set a school's direction and ensure that its budget is properly managed?</p>
            <a href="https://www.gov.uk/government/get-involved/take-part/volunteer-as-a-school-governor">Read more on GOV.UK</a>
        </div>
        <div class="parl-action-content">
            <a href="https://www.gov.uk/become-school-college-governor" class="btn parl-button parl-secondary-button apply-online-button">Apply Online</a>
        </div>
    </div>
    <div class="parl-action-item parl-action-social-media">
        <h3>Help raise awareness</h3>
        <div class="parl-action-time">
            <img src="~/Content/img/stopwatch-28x28.svg" class="stopwatch" />Approx 2mins
        </div>
        <div class="parl-action-basic-content">
            <p>Share this page about Academy Schools with your social network, friends, family and colleagues to get more people involved in this issue.</p>
        </div>
        <div id="shareIcons" class="parl-action-content share-icons">

        </div>
    </div>

</div>