@model Parliament.Interact.Web.Models.IssueViewModel

<div class="col-xs-12">
    <h2>What Is @Model.Title?</h2>
    <div class="col-md-6">
        @Html.Raw(Model.Content)
    </div>
    <div class="col-md-6">
        @Html.Partial("_IssueImageView", Model);
    </div>
</div>
