@model Parliament.Interact.Web.Models.IssueViewModel

<div class="col-xs-12 timeline-container">
    <h2>Parliament timeline</h2>
    @foreach (var timeLineItem in Model.TimeLines)
    {
        @Html.Partial("_IssueTimeLineItem", timeLineItem)
    }
</div>