@model IList<Parliament.Interact.Web.Models.IssueViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol>
        @foreach (var issue in Model)
        {
            <li>@issue.Title</li>
        }
    </ol>
</div>