body * {
    font-family: 'Verdana', sans-serif;
}

/* Accordion Section */
.panel-group * {
    font-family: 'Lato', sans-serif;
}

.panel-heading .panel-heading-button {
    padding-right: 0;
}

.panel-heading .last-panel-heading-column {
    padding-left: 0;
}

/*-----------------------*/