body {
    font-family: 'Verdana', sans-serif;
    background-color: #deebeb;
    font-size: 16px;
    color: #333333;
}

/* Header section */

.header-links {
    width: 350px;
}

.header-links div {
    display: inline-block;
    padding: 5px;
    font-size: 16px;  
    color: #589e9e;
}

.header-links div a {
    text-decoration: none;
    color: #333333;
}

.strapline {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

/* Accordion Section */

.panel-group * {
    font-family: 'Lato', sans-serif;
}

.panel-group > .issues-panel {
    border-radius: 8px;
    margin-bottom: 40px;
}

.panel-heading {
    height: 120px;
}

.panel-heading.orangeHeaderBackground {
    background-color: #b14d07;
}

.panel-heading.blueHeaderBackground {
    background-color: #589e9e;
}

.panel-heading.purpleHeaderBackground {
    background-color: #6e6095;
}

.panel-heading h1 {
    font-size: 60px;
    color: #ffffff;   
}

.panel-header-index {
    margin-right: 40px;
}

.panel-heading .panel-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading .panel-heading-button {
    padding-right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading-button .btn {
    color: #333333;
    font-size: 30px;
    background-color: #ffffff;
    background-image:
    linear-gradient(
      #ffffff, #ececec
    );
}

.panel-heading .last-panel-heading-column {
    padding-left: 0;
}

.panel-group .panel {
    background: #ffffff;
}

/* footer section*/

footer div p {
    font-family: 'Verdana';
    line-height: 25px;
}

footer div span {
    padding-left: 10px;
    padding-right: 10px;
    color: #589e9e;
}

.footer-description {
    width: 580px;
    padding-top: 120px;
    margin: 0 auto;
}

.footer-title {
    width: 520px;
    padding-top: 55px;
    margin: 0 auto;
    text-align: center;
}

/* Media queries for responsive font sizes */

@media (max-width: 992px) { /* check breakpoint size - this is for a tablet */

    .header-links {
        display: none;
    }

    .strapline {
        font-size: 34px;
        color: #000000;
    }

    .panel-heading h1 {
        font-size: 40px;
    }

    .panel-heading-button .btn {
        font-size: 30px;
        color: #333333;
    }

    body {
        font-size: 26px;
    }

    footer div p {
        line-height: 30px;
    }
}

