﻿body {
     font-family: 'Verdana', sans-serif;
     background-color: #deebeb;
     color: red;
}

/* Header section */
.header-links div {
    display: inline;
}

/* Accordion Section */

.panel-group * {
    font-family: 'Lato', sans-serif;
}

.panel-group > .issues-panel {
    border-radius: 8px;
    margin-bottom: 40px;
}

.panel-heading {
    height: 120px;
    padding-top: 0;
}

.panel-heading h1 {
    font-size: 40px;    
}

.panel-heading .panel-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading .panel-heading-button {
    padding-right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading-button .btn {
    font-weight: bold;
    color: #333333;
    font-size: 30px;
    background-color: #ffffff;
    background-image:
    linear-gradient(
      #ffffff, #ececec
    );
}

.panel-heading .last-panel-heading-column {
    padding-left: 0;
}

.panel-group .panel {
    background: #ffffff;
}
/* footer section*/
.footer-description {
    padding-top: 120px;
}

.footer-title {
    padding-top: 55px;
}

/* helper classes */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

