<footer>
    <div class="footer-description">
        <p>
            Trending issues are aggregated from a number of statistical sources.
            This allows us to curate guides and specific actions for issues
            currently in the public eye. The Interact page updates on a bi-weekly
            basis to reflect these trends.
        </p>
    </div>
    <div class="footer-title">
        <p>Accessibility <span>|</span> &copy; @DateTime.Now.Year - Parliament.uk</p>
    </div>
</footer>
