@model Parliament.Interact.Web.Models.AboutModel

<header>
    <div class="parl-center header-links-container">
        @if (Model.DisplayAbout)
        {
            <ul class="header-links pull-right">
                <li>@Html.ActionLink("About", "Index", new {controller = "About"})</li>
            </ul>
        }
        else
        {
            <ul class="header-links pull-right">
                <li>@Html.ActionLink("Back to Interact", "Index", new { controller = "Issues" })</li>
            </ul>
        }
    </div>

    <div class="logo">
        <img src="~/Content/img/interact_logo_WEB.svg" class="logo-image" alt="Interact logo">
        <div class="logo-beta-box">BETA</div>
    </div>
    <h2 class="strapline text-center">Take action on trending issues</h2>
</header>