<header>
    <div class="parl-center header-links-container">
        <ul class="header-links pull-right">
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <div class="logo">
        <img src="~/Content/img/interact_logo_WEB.svg" class="logo-image" alt="Interact logo">
        <div class="logo-beta-box">BETA</div>
    </div>
    <h2 class="strapline text-center">Take action on trending issues</h2>
</header>