@model Parliament.Interact.Web.Models.IssueViewModel

<div class="panel-body">
    @Html.Partial("~/Views/Issues/_IntroductionContent.cshtml", Model)
    @Html.Partial("~/Views/Issues/_IssueFurtherReading.cshtml", Model)
    @Html.Partial("~/Views/Issues/_IssueTimeLine.cshtml", Model)
</div>

