<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>ABTestingA</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://interact-parliament-interact-parliament-abtest-a.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>interact-parliament-interact-parliament-abtest-a.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>interact-parliament__interact-parliament-abtest-a</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$interact-parliament__interact-parliament-abtest-a</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InteractDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:interact-parliament.database.windows.net,1433;Initial Catalog=Interact-ABTesting-A;User ID=interactadmin@interact-parliament.database.windows.net;Password=Int3r4ct" Name="Data Source=tcp:interact-parliament.database.windows.net,1433;Initial Catalog=Interact-ABTesting-A;User Id=interactadmin@interact-parliament.database.windows.net;Password=Int3r4ct" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Parliament.Interact.Core.Domain.Context.InteractDbContext, Parliament.Interact.Core" MigrationConfiguration="Parliament.Interact.Core.Migrations.Configuration, Parliament.Interact.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InteractDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:interact-parliament.database.windows.net,1433;Initial Catalog=Interact-ABTesting-A;User Id=interactadmin@interact-parliament.database.windows.net;Password=Int3r4ct</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>