@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.ContactYourMPModel

<div class="parl-contact-your-mp parl-action">
    <input id="postcode" type="text" placeholder="Postcode" />
    <button id="postcode-button">Go</button>
</div>