@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.ContactYourMPModel
@using (Html.BeginForm("GetMPLink", "Issues"))
{
    <div class="parl-contact-your-mp parl-action">
        @Html.TextBoxFor(x => x.Postcode)
        <input type="submit" id="postcode-button" value="Go" />
    </div>
}
