
@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.LinkModel
<div class="parl-links parl-action">
    <a id="submit-evidence" class="btn parl-button parl-primary-button col-xs-12 col-lg-4" href="@Model.Link" target="_blank" onClick="ga('send', 'event', 'call-to-actions', 'click', 'all events');" >@Model.LinkName</a>
</div>