
@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.LinkModel
<div>
    <a id="submit-evidence" class="btn btn-success" href="@Model.Link" target="_blank" onClick="ga('send', 'event', 'call-to-actions', 'click', 'all events');" >@Model.LinkName</a>
</div>