body {
    font-family: 'Verdana', sans-serif;
    background-color: #deebeb;
    font-size: 16px;
    color: #333333;
}

/* Header section */

.header-links li {
    display: inline;
    padding: 0 0 0 15px;
    font-size: 16px;
    color: #589e9e;
    list-style-type: none;
}

    .header-links li:first-child {
        border-right: 2px solid #589e9e;
        padding: 0 20px 0 20px;
    }

    .header-links li a {
        text-decoration: none;
        color: #333333;
    }

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: 0;
    }

    .panel-body {
        padding: 50px;
    }

    h2 {
        margin-top: 0;
        font-size: 36px;
        color: #589e9e;
    }

    .parl-expand-collapse {
        width: 200px;
    }



    

.logo {
    position: relative;
}

.logo-image {
    display: block;
    position: relative;
    max-width: 62%;
    margin: 0 auto;
    padding-top: 100px;
}

.logo-beta-box {
    position: absolute;
    margin-left: 81%;
    top: 135px;
    width: 65px;
    border: 2px solid #589e9e;
    border-radius: 5px;
    color: #589e9e;
    text-align: center;
    font-size: 14px;
    padding: 2px 0;
    letter-spacing: -1px;
}

.strapline {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 50px 0 70px 0;
    font-weight: bold;
}

/* Accordion Section */

.panel-group {
    font-family: 'Lato', sans-serif;
}

.parl-button-group {
    margin-top: 10px;
}

    .parl-button-group a {
        margin-right: 10px;
        margin-bottom: 10px;
    }

.panel-group > .issues-panel {
    border-radius: 8px;
    margin-bottom: 40px;
    max-width: 1170px;
}

.panel-heading {
    height: 120px;
    max-width: 1170px;
    border-radius: 8px;
    padding-left: 20px;
}

    .panel-heading.orangeHeaderBackground {
        background-color: #b14d07;
    }

    .panel-heading.blueHeaderBackground {
        background-color: #589e9e;
    }

    .panel-heading.purpleHeaderBackground {
        background-color: #6e6095;
    }

    .panel-heading h1 {
        font-size: 60px;
        color: #ffffff;
    }

.panel-header-index {
    margin-right: 40px;
}

.panel-heading .panel-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading .panel-heading-button {
    padding-right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading-button .btn {
    color: #333333;
    font-size: 30px;
    background-color: #ffffff;
    background-image: linear-gradient( #ffffff, #ececec );
}

.panel-heading .last-panel-heading-column {
    padding-left: 0;
}

.panel-group .panel {
    background: #ffffff;
}

/* footer section*/

footer div p {
    font-family: 'Verdana';
    line-height: 25px;
}

footer div span {
    padding-left: 10px;
    padding-right: 10px;
    color: #589e9e;
}

.footer-description {
    width: 580px;
    padding-top: 120px;
    margin: 0 auto;
}

.footer-title {
    width: 530px;
    padding-top: 55px;
    margin: 0 auto;
    text-align: center;
}

/* Modal */
.modal {
    display: none;
}

.parl-center {
    margin: auto;
}

.panel-heading .panel-heading-button {
    padding-right: 70px;
}

.panel-heading .panel-heading-button .btn {
    background-image: none;
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    border: 2px solid;
}

.panel-title {
    padding-left: 10px;
}

/* Media queries for responsive styling */

@media (max-width: 992px) { /* this is for a tablet */

    .header-links {
        display: none;
    }

    .strapline {
        font-size: 34px;
        color: #000000;
    }

    .panel-group > .issues-panel {
        margin-bottom: 25px;
    }

    .panel-heading h1 {
        font-size: 40px;
    }

    .panel-heading .panel-heading-button {
        padding-right: 15px;
    }

    .panel-heading-button .btn {
        font-size: 30px;
        color: #333333;
    }

    body {
        font-size: 26px;
    }

    footer div p {
        line-height: 30px;
    }

    .logo-image {
        max-width: 65%;
    }

    .logo-beta-box {
        margin-left: 83%;
        top: 95px;
    }
}

@media (max-width: 480px) { /* this is for a mobile */
    body {
        font-size: 13px;
    }

    .header-links {
        display: none;
    }

    .strapline {
        font-size: 17px;
        color: #000000;
    }

    .panel-group > .issues-panel {
        margin-bottom: 15px;
    }

    .panel-heading {
        padding-left: 0;
        height: 80px;
    }

    .panel-header {
        padding-right: 0;
        padding-left: 20px;
    }

    .panel-heading h1 {
        font-size: 18px;
    }

    .panel-header-index {
        margin-right: 10px;
    }

    .panel-heading-button .btn {
        font-size: 15px;
        color: #333333;
    }

    .panel-heading .panel-heading-button {
        padding-right: 0;
    }

    .footer-description {
        width: 290px;
    }

    .footer-title {
        width: 290px;
    }

    .logo-image {
        padding-top: 50px;
        max-width: 75%;
    }

    .logo-beta-box {
        margin-left: 73%;
        top: 10px;
    }
}
