body {
    font-family: 'Verdana', sans-serif;
    background-color: #deebeb;
    font-size: 16px;
    color: #333333;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    line-height: 40px;
}

h5 {
    font-size: 18px;
}

.panel-default {
    border: 0;
}

/* About section */
.parl-about-container {
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin: auto;
    max-width: 770px;
    padding: 70px 90px;
}

.parl-about-container {
    font-family: 'Lato', sans-serif;
}

.about-button {
    max-width: 294px;
}

.parl-open .panel-heading {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-heading .panel-heading-button .btn {
    color: #333;
    border: 2px solid #fff;
    background-color: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    box-shadow: 0 4px 3.6px 0.4px rgba(51, 51, 51, 0.3);
}

.parl-open .panel-heading .panel-heading-button .btn {
    background-image: none;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.parl-bottom-action {
    width: 100%;
    height: 20px;
}

    .parl-bottom-action.blueHeaderBackground {
        background: #589e9e;
    }

.blueHeaderBackground h2 {
    color: #589e9e;
}

.blueHeaderBackground .parl-action-items-title {
    background-color: #589e9e;
    color: #ffffff;
}

.blueHeaderBackground .panel-body a:not(.btn):not(.parl-button):not(.jssocials-share-link) {
    color: #589e9e;
}

.blueHeaderBackground .further-reading-link {
    color: #589e9e;
}

.blueHeaderBackground .parl-action-item h3 {
    color: #589e9e;
}

.blueHeaderBackground .break {
    background-color: rgba(88, 158, 158, 0.2);
}

.blueHeaderBackground .parl-button {
    border: 2px solid #589e9e;
    background: #589e9e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#589e9e, #458787); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#589e9e, #458787); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#589e9e, #458787); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#589e9e, #458787); /* Standard syntax */
    box-shadow: 0 4px 3.6px 0.4px rgba(153, 153, 153, 0.3);
}

.blueHeaderBackgroud .parl-button:active {
    background: #589e9e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#458787, #589e9e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#458787, #589e9e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#458787, #589e9e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#458787, #589e9e); /* Standard syntax */
}


.blueHeaderBackground .parl-small-action-item-last {
    border-left: 4px solid rgba(88, 158, 158, 0.2);
}



.parl-bottom-action.orangeHeaderBackground {
    background-color: #b14d07;
}

.orangeHeaderBackground h2 {
    color: #b14d07;
}

.orangeHeaderBackground .parl-action-items-title {
    background-color: #b14d07;
    color: #ffffff;
}

.orangeHeaderBackground .panel-body a:not(.btn):not(.parl-button):not(.jssocials-share-link) {
    color: #b14d07;
}

.orangeHeaderBackground .further-reading-link {
    color: #b14d07;
}

.orangeHeaderBackground .parl-action-item h3 {
    color: #b14d07;
}

.orangeHeaderBackground .break {
    background-color: rgba(177, 77, 7, 0.2);
}


.orangeHeaderBackground .parl-button {
    border: 2px solid #c65d13;
    background: #c65d13; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c65d13, #b14d07); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c65d13, #b14d07); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c65d13, #b14d07); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c65d13, #b14d07); /* Standard syntax */
    box-shadow: 0 4px 3.6px 0.4px rgba(153, 153, 153, 0.3);
}

    .orangeHeaderBackground .parl-button:active {
        background: #c65d13; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#b14d07, #c65d13); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#b14d07, #c65d13); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#b14d07, #c65d13); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#b14d07, #c65d13); /* Standard syntax */
    }

.orangeHeaderBackground .parl-small-action-item-last {
    border-left: 4px solid rgba(177, 77, 7, 0.2);
}


.parl-bottom-action.purpleHeaderBackground {
    background-color: #6e6095;
    color: #ffffff;
}

.purpleHeaderBackground h2 {
    color: #6e6095;
}

.purpleHeaderBackground .parl-action-items-title {
    background-color: #6e6095;
    color: #ffffff;
}

.purpleHeaderBackground .panel-body a:not(.btn):not(.parl-button):not(.jssocials-share-link) {
    color: #6e6095;
}

.purpleHeaderBackground .further-reading-link {
    color: #6e6095;
}

.purpleHeaderBackground .parl-action-item h3 {
    color: #6e6095;
}

.purpleHeaderBackground .break {
    background-color: rgba(110, 96, 149, 0.2);
}

.purpleHeaderBackground .parl-button {
    border: 2px solid #6e6095;
    background: #6e6095; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6e6095, #4f4175); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6e6095, #4f4175); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6e6095, #4f4175); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6e6095, #4f4175); /* Standard syntax */
    box-shadow: 0 4px 3.6px 0.4px rgba(153, 153, 153, 0.3);
}

    .purpleHeaderBackground .parl-button:active {
        background: #6e6095; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#4f4175, #6e6095); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#4f4175, #6e6095); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#4f4175, #6e6095); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#4f4175, #6e6095); /* Standard syntax */
    }

.purpleHeaderBackground .parl-small-action-item-last {
    border-left: 4px solid rgba(110, 96, 149, 0.2);
}




.parl-action-item-sub {
    float: left;
    margin-top: 100px;
}

    .parl-action-item-sub #submit-evidence {
        margin-top: 5px;
    }

/* Header section */

.header-links li {
    display: inline;
    padding: 0 0 0 15px;
    font-size: 16px;
    color: #589e9e;
    list-style-type: none;
}

    .header-links li a {
        text-decoration: none;
        color: #333333;
    }

        .header-links li a:hover {
            text-decoration: underline;
            color: #333333;
        }

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0;
}

.panel-body {
    padding: 50px 30px;
}

h2 {
    margin-top: 0;
    font-size: 36px;
}

.parl-expand-collapse {
    text-align: center;
    width: 200px;
}

.logo {
    position: relative;
}

.logo-image {
    display: block;
    position: relative;
    max-width: 770px;
    width: 62%;
    margin: 0 auto;
    padding-top: 100px;
}

.logo-beta-box {
    position: absolute;
    margin-left: 81%;
    top: 75px;
    width: 65px;
    border: 2px solid #589e9e;
    border-radius: 2px;
    color: #589e9e;
    text-align: center;
    font-family: "Verdana";
    font-size: 14px;
    padding: 2px 0;
    letter-spacing: -1px;
}

.strapline {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 50px 0 70px 0;
    letter-spacing: 0.02em;
}

.error-message {
    color: red;
}
/* Accordion Section */

.panel-group {
    font-family: 'Lato', sans-serif;
}

.parl-button-group {
    margin-top: 30px;
}

    .parl-button-group a {
        margin-right: 10px;
        margin-bottom: 10px;
    }

.panel-group > .issues-panel {
    border-radius: 8px;
    margin-bottom: 40px;
    max-width: 1170px;
}

.panel-heading {
    height: 120px;
    max-width: 1170px;
    border-radius: 8px;
    padding-left: 20px;
}

    .panel-heading.orangeHeaderBackground {
        background-color: #b14d07;
    }

    .panel-heading.blueHeaderBackground {
        background-color: #589e9e;
    }

    .panel-heading.purpleHeaderBackground {
        background-color: #6e6095;
    }

    .panel-heading h1 {
        font-size: 60px;
        letter-spacing: -0.01em;
        color: #ffffff;
    }

.panel-header-index {
    margin-right: 40px;
}

.panel-heading .panel-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading .panel-heading-button {
    padding-right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel-heading-button .btn {
    color: #333333;
    font-size: 30px;
    background-color: #ffffff;
    background-image: linear-gradient( #ffffff, #ececec );
}

.panel-heading .last-panel-heading-column {
    padding-left: 0;
}

.panel-group .panel {
    background: #ffffff;
}

.issue-content-img {
    width: 100%;
    height: auto;
}

.jssocials-share-link {
    border-radius: 50%;
}

/* issue body section */

.panel-body a:not(.btn):not(.parl-button):not(.jssocials-share-link) {
    color: #589e9e;
    text-decoration: underline;
}

.panel-body h5 {
    font-weight: bold;
    padding: 8px 0;
}

.break {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 4px;
    clear: both;
}

/* Further reading links section*/

.further-readings h2 {
    padding-top: 33px;
}

.further-reading-link {
    color: #589e9e;
}

    .further-reading-link a {
        color: #589e9e;
        text-decoration: underline;
    }

.further-reading-link-list-item {
    margin-left: -22px;
}

/* Timeline section */

.desktop-issue-introduction-container {
    padding-top: 10px;
    padding-bottom: 65px;
    float: left;
    clear: both;
}

.time-line-container {
    padding-top: 55px;
}

.time-line-item {
    padding-left: 0;
    padding-right: 30px;
    padding-bottom: 85px;
}

/* Actions section */

.parl-action-items-title {
    padding: 20px 35px;
    color: #ffffff;
}


.parl-small-action-item .parl-action-content {
    margin-top: 31px;
}

.parl-action-item {
    float: left;
    clear: both;
    margin-top: 30px;
    margin-bottom: 80px;
}

    .parl-action-item h3 {
        margin-top: 0;
    }

.parl-small-action-item-last {
    padding-left: 30px;
    padding-bottom: 50px;
    border-left: 4px solid rgba(88, 158, 158, 0.2);
    margin-bottom: 30px;
}

    .parl-small-action-item-last .parl-action-content {
        margin-top: 20px;
    }

h2.parl-action-items-title {
    margin-bottom: 0;
    float: left;
    clear: both;
}

.parl-action-item h3 {
    color: #589e9e;
}

.parl-action-time {
    padding: 2px 0 12px;
    font-family: Verdana Regular, sans-serif;
    font-size: 16px;
    color: #aaa;
}

.stopwatch {
    height: 20px;
    width: 20px;
    margin-top: -5px;
    margin-right: 10px;
}

.petitions-header {
    display: inline-block;
}

.number-of-signatures {
    display: inline-block;
}

.parl-petition-items-header h5:nth-child(2) {
    margin-right: 30px;
}

.parl-petition-item {
    background-color: rgba(204, 204, 204, 0.1);
    margin-bottom: 10px;
    margin-left: 0;
    padding: 12px 30px 12px 30px;
}

.parl-petition-item-signatures-mobile {
    display: none;
    visibility: hidden;
}

.parl-button {
    padding: 0;
    font-family: Lato-bold, sans-serif;
    letter-spacing: 0.02em;
    text-align: center;
    border-radius: 4px;
    color: #ffffff !important;
    text-transform: uppercase;
}





.parl-primary-button {
    line-height: 80px;
    font-size: 30px;
}

.parl-secondary-button {
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    padding-left: 30px;
    padding-right: 30px;
}


.parl-button:hover {
    color: #ffffff;
}

.apply-online-button {
    width: 230px;
}

.petitions-button {
    width: 340px;
}

.find-my-mp-button {
    margin-left: 20px;
}

.find-my-mp-input {
    height: 60px;
    border-radius: 4px;
}

    .find-my-mp-input[type="text"] {
        text-transform: uppercase;
        font-family: "Verdana";
        font-size: 20px;
        color: #333333;
        padding-left: 10px;
    }

/* footer section*/

footer div p {
    font-family: 'Verdana';
    line-height: 25px;
}

footer div span {
    padding-left: 10px;
    padding-right: 10px;
    color: #589e9e;
}

.footer-description {
    width: 580px;
    padding-top: 120px;
    margin: 0 auto;
}

.footer-title {
    width: 530px;
    padding-top: 55px;
    margin: 0 auto;
    text-align: center;
}

/* Modal */
.modal {
    display: none;
}

.parl-center {
    margin: auto;
}

.header-links-container {
    max-width: 1170px;
}

.panel-heading .panel-heading-button {
    padding-right: 70px;
}



.header-links {
    max-width: 1170px;
}

.panel-title {
    padding-left: 10px;
}

/* Media queries for responsive styling */

@media (max-width: 992px) { /* this is for a tablet */

    body {
        font-size: 28px;
        line-height: 38px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 36px;
        line-height: 46px;
    }

    h5 {
        font-size: 28px;
        line-height: 38px;
    }

    .parl-action-item-sub {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .parl-action-item-sub-start {
        margin-bottom: 30px;
    }

    .header-links {
        display: none;
    }

    .strapline {
        font-size: 34px;
        color: #000000;
        margin: 70px 0 70px 0;
    }

    .panel-group > .issues-panel {
        max-width: 690px;
        margin-bottom: 25px;
    }

    .panel-heading h1 {
        max-width: 690px;
        font-size: 44px;
    }

    .panel-heading .panel-heading-button {
        width: 140px;
        padding-right: 15px;
    }

    .parl-expand-collapse {
        max-width: 140px;
    }

    .panel-heading-button .btn {
        font-size: 30px;
        color: #333333;
    }

    footer div p {
        line-height: 30px;
    }

    .logo-image {
        max-width: 640px;
        width: 85%;
    }

    .panel-body {
        padding: 30px 25px 0 25px;
    }

    .logo-beta-box {
        width: 90px;
        height: 40px;
        font-size: 22px;
        margin-left: 79%;
        padding-top: 0;
        top: 50px;
    }

    .desktop-issue-introduction-container {
        padding-bottom: 85px;
    }

    .issue-content-img {
        display: none;
    }

    .parl-action-items-title {
        width: 690px;
        height: 100px;
        margin-left: -25px;
        font-size: 44px;
        padding-left: 40px;
        padding-top: 25px;
    }

    .parl-small-action-item {
        padding-right: 0;
    }

    .parl-small-action-item-last {
        padding-left: 0;
    }

    .find-my-mp-input {
        height: 90px;
    }

        .find-my-mp-input[type="text"] {
            font-size: 28px;
            margin-top: 1px;
        }

    .find-my-mp-button {
        margin-left: 0;
        margin-top: 20px;
    }

    .parl-primary-button {
        font-size: 36px;
        line-height: 96px;
    }

    .parl-secondary-button {
        height: 100px;
        font-size: 36px;
        line-height: 96px;
    }

    .petitions-button {
        width: 550px;
    }

    .parl-button-group .btn {
        margin-bottom: 35px;
    }

    .parl-petitions-item-header .pull-right {
        display: none;
    }

    .number-of-signatures, .parl-petition-item-signatures-desktop {
        display: none;
        visibility: hidden;
    }

    .parl-petition-item-signatures-mobile {
        display: block;
        visibility: visible;
    }

    .stopwatch {
        height: 28px;
        width: 26px;
    }

    .parl-action-time {
        font-size: 28px;
    }

    .blueHeaderBackground .parl-small-action-item-last,
    .orangeHeaderBackground .parl-small-action-item-last,
    .purpleHeaderBackground .parl-small-action-item-last
    {
        border-left: 0;
    }

     .blueHeaderBackground .parl-small-action-item-last h3 {
          border-top: 4px solid rgba(88, 158, 158, 0.2);
     }
     .orangeHeaderBackground .parl-small-action-item-last h3 {
          border-top: 4px solid rgba(177, 77, 7, 0.2);
     }
    .purpleHeaderBackground .parl-small-action-item-last h3 {
          border-top: 4px solid rgba(110, 96, 149, 0.2);
     }

    .parl-action-item, .parl-small-action-item {
        margin-top: 60px;
    }

    .parl-small-action-item-last {
        margin-top: 0px;
    }

       .parl-small-action-item-last h3 {
            padding-top: 60px;
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
        }

    input, select, textarea {
        max-width: inherit;
    }
}

@media (max-width: 480px) { /* this is for a mobile */
    body {
        font-size: 14px;
        line-height: 19px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 28px;
    }

    h5 {
        font-size: 14px;
        line-height: 19px;
    }

    .panel-body h5 {
        padding: 8px 0;
    }

    .header-links {
        display: none;
    }

    .strapline {
        font-size: 17px;
        color: #000000;
        margin: 35px 0 35px 0;
    }

    .panel-group > .issues-panel {
        max-width: 345px;
        margin-bottom: 15px;
    }

    .panel-body {
        padding: 10px 5px 0 5px;
    }

    .panel-heading {
        border-radius: 4px;
    }

    .parl-action-items-title {
        width: 345px;
        height: 50px;
        margin-left: -5px;
        font-size: 22px;
        padding-left: 40px;
        padding-top: 12px;
    }

    .panel-heading {
        max-width: 345px;
        height: 60px;
        padding: 0 15px 0 0;
    }

    .panel-header {
        padding-right: 0;
        padding-left: 20px;
    }

    .panel-heading h1 {
        font-size: 22px;
    }

    .panel-title {
        padding-left: 0;
    }

    .parl-expand-collapse {
        width: 66px;
        height: 26px;
        margin-top: 3px;
        margin-left: 8px;
        padding-top: 1px;
    }

    .panel-heading .panel-heading-button .btn {
        border: 1px solid #ffffff;
    }

    .panel-header-index {
        margin-right: 10px;
    }

    .panel-heading-button .btn {
        font-size: 15px;
        color: #333333;
    }

    .panel-heading .panel-heading-button {
        width: 70px;
        height: 30px;
        padding-right: 0;
    }

    .footer-description {
        width: 290px;
    }

    .footer-title {
        width: 290px;
    }

    .logo-image {
        padding-top: 50px;
        max-width: 320px;
        width: 85%;
    }

    .logo-beta-box {
        margin-left: 76%;
        width: 50px;
        height: 24px;
        border: 1px solid #589e9e;
        border-radius: 2px;
        font-size: 11px;
        top: 10px;
        padding-top: 1px;
    }

    .desktop-issue-introduction-container {
        padding-bottom: 40px;
    }

    .parl-primary-button {
        font-size: 18px;
        line-height: 45px;
    }

    .parl-secondary-button {
        height: 50px;
        font-size: 18px;
        line-height: 45px;
    }

    .petitions-button {
        width: 275px;
    }

    .stopwatch {
        height: 14px;
        width: 13px;
    }

    .parl-action-time {
        font-size: 14px;
    }

    .parl-petition-item {
        padding: 10px;
    }

    .parl-button-group .btn {
        float: left;
        clear: both;
        margin-bottom: 18px;
    }

    .parl-secondary-button {
        padding-left: 0;
        padding-right: 0;
    }

    .time-line-container {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .find-my-mp-button {
        margin-left: 0;
        margin-top: 15px;
    }

    .find-my-mp-input[type="text"] {
        font-size: 20px;
        padding-top: 5px;
    }

    .find-my-mp-input {
        height: 45px;
    }

    .parl-small-action-item-last {
        padding-left: 0;
        padding-bottom: 0;
    }

        .parl-small-action-item-last h3 {
            padding-top: 30px;
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
        }

    .time-line-item {
        padding-bottom: 5px;
    }

    input, select, textarea {
        max-width: inherit;
    }

    .blueHeaderBackground .parl-small-action-item-last h3 {
          border-top: 2px solid rgba(88, 158, 158, 0.2);
     }
     .orangeHeaderBackground .parl-small-action-item-last h3 {
          border-top: 2px solid rgba(177, 77, 7, 0.2);
     }
    .purpleHeaderBackground .parl-small-action-item-last h3 {
          border-top: 2px solid rgba(110, 96, 149, 0.2);
     }

   
    .parl-action-item, .parl-small-action-item {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .break {
        height: 2px;
    } 

    .parl-action-item-sub-start {
        margin-bottom: 20px;
    }

    .parl-action-item-sub {
        margin-bottom: 60px;
    }
    .parl-secondary-button {
        padding-left: 20px;
        padding-right: 20px;
    }

    .parl-small-action-item {
        padding-left: 15px;
        padding-right: 15px;
    }
}
