@model Parliament.Interact.Core.ActionsViewFactory.Items.Models.ContactYourMPModel

<div class="parl-contact-your-mp parl-action">
    <h3>Contact Your MP</h3>
    <div class="parl-action-content"></div>
</div>