<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ABTestingSeed" value="B" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="GoogleAnalyticsCode" value="UA-31560783-7" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="TagManager" value="GTM-W2Q5P8" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="DisplayGoogleExperiments" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>